/*FORM*/
#id{
    margin: 0 auto;
    width: 500px;
    margin-bottom: 40px;
    margin-top: 40px;
    background: rgb(128, 128, 128, .8);
    padding: 20px;
    border-radius: 25px;
    back
}
#id-information{
}
#life{
    margin: 0 auto;
    width: 500px;
    background: rgb(128, 128, 128, .8);
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 25px;
}
#message{
    margin: 0 auto;
    width: 500px;
    background: rgb(128, 128, 128, .8);
    padding: 20px;
    border-radius: 25px;

}
#submit{
    margin: 0 auto;
    width: 200px;
    height: 40px;
}
#submit-div{
    margin: 0 auto;
    width: 500px;
    margin-top: 40px;
}
ul{
    list-style: none;
}
form li + li{
    margin-top: 1em;
}
/*FORM*/
/*SLIDER*/
.slider{
    background: #d3d3d3;
    opacity: 0.7;
    width: 50%;
    -webkit-appearance: none;
    box-shadow: 0px 1px 5px 0px gray;
    border-radius: 12px;
}
.slider:hover{
    opacity: 0.9;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #616161;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 50%;
background: #616161;
cursor: pointer;
}

.slider::after{
    content: '10';
    color: rgb(30, 255, 0);
    font-size: 1rem;
    position: absolute;
    top: 43%;
    left: 49%;
}
.slider::before{
    content: '0';
    color: rgb(255, 0, 0);
    font-size: 1rem;
    position: absolute;
    top: 43%;
    left: 37.5%;
}

.slidecontainer{
    width: 100%;
    margin-top: 10px;
}

#value-title{
    margin-top: 43px;
}
/*SLIDER*/