/*FORM*/
body{
    display:grid;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(135deg, cyan, #5521ce); */
    background: url('/forms-page/img/leaves.jpg');
}
/* #name, #namelabel, #email, #emaillabel, #birthday, #birthdaylabel{
    display: flex;
    flex-direction: column;
}*/
#name{
    margin-left: 80px;
}
#email{
    margin-left: 75px;
}
#birthday{
    margin-left: 65px;
}
#title{
    text-align: center;
}
#id{
    /* margin: 0 auto;
    width: 500px;*/
    margin-bottom: 40px;
    margin-top: 40px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}
#id-information{
    text-align: center;
}
#life{
    /* margin: 0 auto;
    width: 500px;*/
    background: rgba(255, 255, 255, 0.9);
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 25px; 
    text-align: center;
}
#message{
    /* margin: 0 auto;
    width: 500px;*/
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 25px; 
    text-align: center;

}
#submit-div{
    text-align: center;
}
#submit{
    margin: 0 auto;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
}
#submit:hover{
    opacity: 0.9;
}
#submit-div{
    margin: 0 auto;
    width: 500px;
    margin-top: 40px;
}
#pets{
    width: 20%;
    height: 27px;
}
ul{
    list-style: none;
}
form li + li{
    margin-top: 1em;
}
/*FORM*/
/*SLIDER*/
.slider{
    background: #d3d3d3;
    opacity: 0.7;
    /* width: 50%; */
    -webkit-appearance: none;
    box-shadow: 0px 1px 5px 0px gray;
    border-radius: 12px;
    width: 70%;
}
.slider:hover{
    opacity: 0.9;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #616161;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 50%;
background: #616161;
cursor: pointer;
}

.slider::after{
    content: '10';
    color: black;
    font-size: 1rem;
    position: relative;
    left:170%;
    top: 20%;
}
.slider::before{
    content: '0';
    color: black;
    font-size: 1rem;
    position: relative;
    left: 20%;
    top: 20%;
}

.slidecontainer{
    /* width: 100%;
    margin-top: 10px; */
}

#value-title{
    /* margin-top: 43px; */
}
/*SLIDER*/