/* TOP-PANNEL */
#top-pannel{
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: coral;
    background-color: coral; 
    height: 7rem;
    display: flex;
    justify-content: center;
}
/* TOP-PANNEL END*/
body{
    margin: 0;
    padding: 0;
}
#welcome-sentence{
    padding: 5rem;
}
/*block for the top two recipes*/
#first-content-block{
    display: flex;
    margin-bottom: 100px;
}
/*block for the bottom two recipes*/
#second-content-block{
    display: flex;
}
/* the class for all the divs containing recipes*/
.recipe-block{ 
    width: 30%;
    height: 20rem;
    border-style: solid;
    border-color: coral;
}
#odenpic{
    width: 100%;
    height: 100%;
}
#oden{
    margin-left: 160px;
    border-style: solid
}
#takoyakipic{
    width: 100%;
    height: 100%;
}
#takoyaki{
    margin-left: 160px;
}
#springrollpic{
    width: 100%;
    height: 100%;
}
#springroll{
    margin-left: 160px;
}
#souppic{
    width: 100%;
    height: 100%;
}
#soup{
    margin-left: 160px;
}